<!DOCTYPE html>
<html lang="en">

<head>
	<title>Viet Kynl</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../../images/icons/icon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../vendor/jquery/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/HomePage.css">
	<!--===============================================================================================-->
</head>

<body class="lazy-man">
	<!-- Fixed navbar -->
	<div class="container"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			</div>
		</div>
	</nav>

	<div class="log-box alert alert-danger" role="alert">
		<strong>Woop !</strong>
		<p class="log-text">Something went wrong!</p>
	</div>

	<!--===============================================================================================-->
	<script type="text/javascript" src="../../vendor/jquery/js/jquery.js"></script>
	<script type="text/javascript" src="../../vendor/jquery/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../vendor/jquery/js/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="../../js/js-cookie.js"></script>
	<script type="text/javascript" src="../../js/HomePage.js"></script>
	<!--===============================================================================================-->
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
		socket.emit('login', getCookie('username'), getCookie('password'));
	</script>
	<!--===============================================================================================-->
</body>

</html>