body {
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/177889.png");
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  
  /* position: relative; */
  /* align-items: center; */
} 


.wrap-login100 {
  height: 800px;
  width: 500px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.wrap-login-logo {
  height: 100px;
  width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.wrap-username {
  height: 100px;
  width: 400px;
  margin: auto;
}
.wrap-password {
  height: 100px;
  width: 400px;
  margin: auto;
}

h2 {
  margin:0 auto;
  text-align:center;
}

input {
  width: 400px;
  text-align:center;
  margin: auto;
}

button {
  height: 50px;
  width: 400px;
  border-radius: 20px;
  border-color: transparent;
  font-size: 18px;
  text-align:center;
  display: block;
  margin: auto;
}